# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

.DS_Store

/.cache
/.codelite
/.ctagsd

/Instructor
/instructor
/Udemy/CppCourse/Instructor/

# testing

/Debug
/Instructor
# production

/.clang-format

# misc

/External Libraries
